.Searchbar {
  position: sticky;
  background-color: royalblue;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100%;
  z-index: 999;
}

.SearchForm {
  display: flex;
  margin: auto;
  max-width: 700px;
  padding: 10px;
  width: 100%;
  opacity: 0.9;
  color: blue;
}

.Input {
  border: 2px solid blue;
  border-radius: 4px;
  flex: 1;
  margin-left: 10px;
  font-size: 20px;
  padding: 10px;
  color: darkblue;
}

.Input::placeholder {
  font: inherit;
  color: darkblue;
  font-size: 18px;
}

.Button {
  display: inline-block;
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.908);
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Button:hover {
  background-color: darkblue;
}
